form.container-fluid(ng-controller='regCtl', ng-submit='submit()', autocomplete="off", name='regForm')
  .row-fluid
    // Nagivation Columns.
    // -- A nice navigation addon for our Desktop users.
    // -- Don't put anything important here. Tablets and Phones can't see it.
    .span2
      .visible-desktop.well.regSidebar(ui-affix)
        ul.nav.nav-list
          li.nav-header Quick Scroll
          li
            a(href='javascript:void(0)', ui-scroll='primary') Group Contact
          li
            a(href='javascript:void(0)', ui-scroll='youth') Youth ({{ youthList.length }})
          li
            a(href='javascript:void(0)', ui-scroll='chaperone') Chaperones ({{ chaperoneList.length }})
          li
            a(href='javascript:void(0)', ui-scroll='youngAdult') Young Adults ({{ youngAdultList.length}})
            
    // Primary Registration Fields.
    .span10
      .container-fluid
        .row-fluid
          .well#info
            h1 Before We Start...
            p Welcome! Below are some helpful tips for the Registration Process.
            p While filling out the form, please pay attention to the information-packed tooltips that you'll see. You can try one out below:
            fieldset
              .form-horizontal
                .control-group
                  label.control-label Select this box:
                  .controls
                    input.focused(type='text',ui-jq="popover", ui-options="{trigger: 'focus', placement: 'right'}", data-title="A tooltip!", data-content="It works!")
            p This website works best with Chrome or Firefox. If you do not have either of these browsers, please give them a try. Chrome is reccomended as it's the simplest, fastest, and easiest to install.
            .btn-group
              a.btn.btn-info(href="https://www.google.com/intl/en/chrome/browser/") Get Chrome!
              a.btn.btn-warning(href="http://www.mozilla.org/en-US/firefox/new/?") Get Firefox!
        .row-fluid
          .form-horizontal.well#primary
            h1 Primary Contact  
            p Each Group require a primary contact for each group. They will be the primary point of contact for information, payment, and announcements important for all delegates to receive.
            p It is <b>not</b> assumed that this person will be attending. If you are the group contact, and plan on attending, please add yourself to the relevant group below.
          
              // Begin Basic Info
              fieldset
              legend Basic Information
              p Please enter your information as the primary contact for your group.

              // Primary Name Field
              .control-group
                label.control-label Name*
                .controls
                  input.focused(
                    type='text',
                    ng-model='primaryContact.name',
                    required,
                    placeholder='John/Jane Doe',
                  )

               // Primary Phone Field
              .control-group
                label.control-label Phone #*
                .controls
                  input.focused(
                    type='text',
                    ng-model='primaryContact.phone',
                    ui-jq='popover',
                    ui-options="{trigger: 'focus', placement: 'right'}",
                    placeholder='(123) 123-1234',
                    required,
                    data-title="(123) 123-1234",
                    data-content="If you're coming to the conference you might want to consider using your cell number, that way we can get in touch with you during the event."
                  )

              // Primary Email Field
              .control-group
                label.control-label Email*
                .controls
                  input.focused(
                    type='email',
                    name='primaryContact.email',
                    ng-model='primaryContact.email',
                    placeholder='john.doe@mail.com',
                    required
                  )
            // End Basic Information
        
            // Begin Extended Information        
            fieldset
              legend Extended Information
              p Since you, the group contact, will be possibly recieving mail from us please fill this out. You won't need to fill this out for others in your group.

              // Affiliation Field
              .control-group
                label.control-label Affiliation*
                .controls
                  input.focused(
                    type='text',
                    ng-model='primaryContact.extendedInfo.affiliation',
                    ui-jq='popover',
                    ui-options="{trigger: 'focus', placement: 'right'}",
                    data-title="Your Friendship Centre or organization.",
                    data-content="Please list the name of the group/band/school/Friendship Centre etc. that you are registering.",
                    placeholder='Victoria Native Friendship Centre'
                  )

              // Address Field
              .control-group
                label.control-label Address*
                .controls
                  input.focused(
                    type='text',
                    ng-model='primaryContact.extendedInfo.address',
                    required,
                    placeholder='231 Regina Avenue'
                    ui-jq='popover',
                    ui-options="{trigger: 'focus', placement: 'right'}",
                    data-title="The First Line of your mailing address."
                    data-content="For the VNFC, this would be 231 Regina Avenue, for example.",
                  )

              // City Field
              .control-group
                label.control-label City*
                .controls
                  input#city.focused(
                    type='text',
                    ng-model='primaryContact.extendedInfo.city',
                    required,
                    placeholder='Victoria',
                    ui-jq="typeahead",
                    ui-options='{source: ["Abbotsford","Armstrong","Burnaby","Campbell River","Castlegar","Chilliwack","Colwood","Coquitlam","Courtenay","Cranbrook","Dawson Creek","Duncan","Enderby","Fernie","Fort St. John","Grand Forks","Greenwood","Kamloops","Kelowna","Kimberley","Kitimat","Langford","Langley","Merritt","Nanaimo","Nelson","New Westminster","North Vancouver","Parksville","Penticton","Pitt Meadows","Port Alberni","Port Coquitlam","Port Moody","Powell River","Prince George","Prince Rupert","Quesnel","Revelstoke","Richmond","Rossland","Salmon Arm","Surrey","Terrace","Trail","Vancouver","Vernon","Victoria","White Rock","Williams Lake"]}'
                  )

              // Province Field
              .control-group
                label.control-label Province*
                .controls
                  input#province.focused(
                    type='text',
                    ng-model='primaryContact.extendedInfo.province',
                    required,
                    placeholder='British Columbia',
                    ui-jq='typeahead',
                    ui-options='{source:["Alberta", "British Columbia", "Manitoba", "New Brunswick", "Newfoundland & Labrador", "Northwest Territories", "Nova Scotia", "Nunavut", "Ontario", "Prince Edward Island", "Quebec", "Saskatchewan", "Yukon"]}'
                  )

              // Postal Code field
              .control-group
                label.control-label Postal Code*
                .controls
                  input.focused(
                    type='text',
                    ng-model='primaryContact.extendedInfo.postalCode',
                    ui-jq='popover',
                    ui-options="{trigger: 'focus', placement: 'right'}",
                    required,
                    placeholder='V8Z 1J6',
                    data-title="V8Z 1J6",
                    data-content=""
                  )

              // Fax Number Field
              .control-group
                label.control-label Fax
                .controls
                  input.focused(
                    type='text',
                    ng-model='primaryContact.extendedInfo.fax',
                    placeholder="(123) 123-1234",
                    ui-jq='popover',
                    ui-options="{trigger: 'focus', placement: 'right'}",
                    data-title="(123) 123-1234",
                    data-content="This is not required, but if you don't give us a fax number, all documents sent to you will be via email."
                  )
            // End Group Contact Information

        // Youth Registration Fields.
        .row-fluid
          .form-horizontal.well#youth
            h1 Youth Attendees
            p You have <strong>{{ youthList.length }}</strong> youth attending.
            strong Age Range:
            | 14-17 yrs
            p For every <b>five</b> youth attendees you must have at least <b>one</b> Chaperone attending.
            hr
            .container-fluid(id="youthAccordion")
              .accordion-group
                .accordion-heading
                  a.accordion-toggle(href="javascript:void(0);", ng-click="addYouth()")
                    i.icon-plus
                    | Add a Youth
              .accordion-group(ng-repeat="youth in youthList")
                .accordion-heading
                  .row-fluid
                    .pull-left
                      a.accordion-toggle(href="javascript:void(0);", accordion="youth{{youth.number}}", accordion-group="#youthAccordion") {{ youth.name }}
                    .pull-right
                      a.accordion-toggle(href="javascript:void(0);", ng-click="removeYouth(youth)") 
                        i.icon-trash
                        | Remove {{ youth.name }}
                .accordion-body.collapse(id="youth{{youth.number}}")
                  .accordion-inner
                    .row-fluid
                        .span6
                          // Begin Basic Info
                          fieldset
                            legend Basic Information
                            p We need some basic information for each youth attending.
              
                            // Name Field
                            .control-group
                              label.control-label Name*
                              .controls
                                input.focused(
                                  type='text',
                                  ng-model='youth.name',
                                  required,
                                  placeholder='John/Jane Doe',
                                )

                            // Gender Field
                            .control-group
                              label.control-label Gender*
                              .controls
                                select(
                                  required,
                                  ng-model="youth.gender",
                                )
                                  option Male
                                  option Female
                                  option Other
              
                            // Birth Date Field
                            .control-group
                              label.control-label Birth Date*
                              .controls
                                input.focused(
                                  required,
                                  ng-model="youth.birthDate",
                                  placeholder='23/04/1990',
                                  ui-jq='popover',
                                  ui-options="{trigger: 'focus', placement: 'right'}",
                                  data-title="dd/mm/yyyy",
                                  data-content="Youth <b>must</b> be fourteen (14) to attend this event. Any delegate seventeen (17) and under <b>must</b> be accompanied by a chaperone.<br> <b>Born before:</b> March 19, 1999 <br> <b>Born After:</b> Marh 18, 1996",
                                  type='text'
                                )

                             // Phone Field
                            .control-group
                              label.control-label Phone #*
                              .controls
                                input.focused(
                                  type='text',
                                  ng-model='youth.phone',
                                  ui-jq='popover',
                                  ui-options="{trigger: 'focus', placement: 'right'}",
                                  placeholder='(123) 123-1234',
                                  required,
                                  data-title="(123) 123-1234",
                                  data-content="If you're coming to the conference you might want to consider using your cell number, that way we can get in touch with you during the event."
                                )

                            // Email Field
                            .control-group
                              label.control-label Email*
                              .controls
                                input.focused(
                                  type='email',
                                  ng-model='youth.email',
                                  placeholder='johndoe@mail.com',
                                  required
                                )
                          // End Basic Info
                        // Begin Emergency Info        
                        .span6
                          fieldset
                            legend Emergency Information
                            p In the event of an unfortunate happenstance, we will use this information to help us provide the best assistance possible.
              
                            // Emergency Contact Name
                            .control-group
                              label.control-label Emergency Contact name*
                              .controls
                                input.focused(
                                  type='text',
                                  required,
                                  ng-model='youth.emergencyInfo.name',
                                  placeholder="Bobby Doe",
                                  ui-jq='popover',
                                  ui-options="{trigger: 'focus', placement: 'right'}",
                                  data-title="Who can we contact if you get hurt?"
                                  data-content="Please list someone we can contact in the event the registrant is hurt. This person will be able to advise us on medical conditions, doctors or vital information."
                                )

                            // Emergency Contact Relation      
                            .control-group
                              label.control-label Emergency Contact Relation
                              .controls
                                input.focused(
                                  type='text',
                                  name='youth.emergencyInfo.relation',
                                  ng-model='youth.emergencyInfo.relation',
                                  placeholder="Father",
                                  ui-jq='popover',
                                  ui-options="{trigger: 'focus', placement: 'right'}",
                                  data-title="Their relationship to the delegate",
                                  data-content="For example, 'Mother' or 'Babysitter'"
                                )
                    
                            // Emergency Contact Phone #
                            .control-group
                              label.control-label Emergency Contact Phone #*
                              .controls
                                input.focused(
                                  type='text',
                                  name='youth.emergencyInfo.phone',
                                  ng-model='youth.emergencyInfo.phone',
                                  required,
                                  placeholder="(123) 123-1235",
                                  ui-jq='popover',
                                  ui-options="{trigger: 'focus', placement: 'right'}",
                                  data-title="(123) 123-1235",
                                  data-content="Please list someone we can contact in the event the registrant is hurt. This person will be able to advise us on medical conditions, doctors or vital information."
                                )

                            // Registrant Medical number
                            .control-group
                              label.control-label Registrant Medical Number*
                              .controls
                                input.focused(
                                  type='text',
                                  ng-model='youth.emergencyInfo.medicalNum',
                                  required,
                                  placeholder="1234 1234 123 123",
                                  ui-jq='popover',
                                  ui-options="{trigger: 'focus', placement: 'right'}",
                                  data-title="1234 123 123"
                                  data-content="This should be your 10-digit CareCard number.<br> If you are unable to provide this information immediately, please ensure that you have the medical number on hand at the conference."
                                )

                            // Allergies
                            .control-group
                              label.control-label Allergies
                              .controls
                                input.focused(
                                  type='text',
                                  ng-model='youth.emergencyInfo.allergies',
                                  placeholder='Lime, Coconut',
                                  ui-jq='popover',
                                  ui-options="{trigger: 'focus', placement: 'right'}",
                                  ng-list=",",
                                  data-title="Lime, Coconut"
                                  data-content="Please enter a list of all allergies. If you have multiple allergies please comma separate them."
                                )

                            // Medical Conditions
                            .control-group
                              label.control-label Medical Conditions
                              .controls
                                input.focused(
                                  type='text',
                                  name='youth.emergencyInfo.illnesses',
                                  ng-model='youth.emergencyInfo.illnesses',
                                  ui-jq='popover',
                                  ui-options="{trigger: 'focus', placement: 'right'}",
                                  ng-list=",",
                                  placeholder='Asthma, Seizures',
                                  data-title="Asthma, Seizures"
                                  data-content="Please enter a list of medical conditions, if you have multiple conditions to report, please use a comma to seperate them."
                                )
                          // End Emergency Info      
                    
        // Chaperone Registration Fields.
        .row-fluid
          .form-horizontal.well#chaperone
            h1 Chaperone Attendees
            p You have <strong>{{ chaperoneList.length }}</strong> chaperones attending.
            strong Age Range:
            | 21+ yrs
            p Each chaperone can be responsible for up to <b>five</b> youth.
            hr
            .container-fluid(id="chaperoneAccordion")
              .accordion-group
                .accordion-heading
                  a.accordion-toggle(href="javascript:void(0);", ng-click="addChaperone()")
                    i.icon-plus
                    | Add a Chaperone
              .accordion-group(ng-repeat="chaperone in chaperoneList")
                .accordion-heading
                  .row-fluid
                    .pull-left
                      a.accordion-toggle(href="javascript:void(0);", accordion="chaperone{{chaperone.number}}", accordion-group="#chaperoneAccordion") {{ chaperone.name }}
                    .pull-right
                      a.accordion-toggle(href="javascript:void(0);", ng-click="removeChaperone(chaperone)") 
                        i.icon-trash
                        | Remove {{ chaperone.name }}
                .accordion-body.collapse(id="chaperone{{ chaperone.number }}")
                  .accordion-inner
                    .row-fluid
                        .span6
                          // Begin Basic Info
                          fieldset(id="chaperone{{chaperone.number}}")
                            legend Basic Information
                            p We need some information for each chaperone attending.
              
                            // Name Field
                            .control-group
                              label.control-label Name*
                              .controls
                                input.focused(
                                  type='text',
                                  ng-model='chaperone.name',
                                  required,
                                  placeholder='John/Jane Doe',
                                )

                            // Gender Field
                            .control-group
                              label.control-label Gender*
                              .controls
                                select(required, ng-model="chaperone.gender")
                                  option Male
                                  option Female
                                  option Other
              
                            // Birth Date Field
                            .control-group
                              label.control-label Birth Date*
                              .controls
                                input.focused(
                                  required,
                                  ng-model="chaperone.birthDate",
                                  placeholder='23/04/1990',
                                  ui-jq='popover',
                                  ui-options="{trigger: 'focus', placement: 'right'}",
                                  data-title="dd/mm/yyyy",
                                  data-content="Please note chaperones <b>must be</b> 21+ yrs old.<br> <b>Born on/before:</b> March 19, 1992 <br> If you are a Chaperone aged 21-24 years and want to register for workshops please contact us.",
                                  type='text'
                                )

                             // Phone Field
                            .control-group
                              label.control-label Phone #*
                              .controls
                                input.focused(
                                  type='text',
                                  ng-model='chaperone.phone',
                                  placeholder='(123) 123-1234',
                                  required,
                                  ui-jq='popover',
                                  ui-options="{trigger: 'focus', placement: 'right'}",
                                  data-title="(123) 123-1234",
                                  data-content="We are requesting cellphone numbers for all chaperones in case of any emergencies."
                                )

                            // Email Field
                            .control-group
                              label.control-label Email*
                              .controls
                                input.focused(
                                  type='email',
                                  ng-model='chaperone.email',
                                  placeholder='johndoe@mail.com',
                                  required
                                )
                            // End Basic Info
                        // Begin Emergency Info   
                        .span6     
                          fieldset
                            legend Emergency Information
                            p In the event of an unfortunate happenstance, we'll use this information to help us provide the best assistance possible.

                            // Emergency Contact Name
                            .control-group
                              label.control-label Emergency Contact name*
                              .controls
                                input.focused(
                                  type='text',
                                  required,
                                  ng-model='chaperone.emergencyInfo.name',
                                  placeholder="Bobby Doe",
                                  ui-jq='popover',
                                  ui-options="{trigger: 'focus', placement: 'right'}",
                                  data-title="Who can we contact if you get hurt?"
                                  data-content="Please list someone we can contact in the event the registrant is hurt. This person will be able to advise us on medical conditions, doctors or vital information."
                                )

                            // Emergency Contact Relation      
                            .control-group
                              label.control-label Emergency Contact Relation
                              .controls
                                input.focused(
                                  type='text',
                                  ng-model='chaperone.emergencyInfo.relation',
                                  placeholder="Father",
                                  ui-jq='popover',
                                  ui-options="{trigger: 'focus', placement: 'right'}",
                                  data-title="Their relationship to the delegate",
                                  data-content="For example, 'Mother' or 'Babysitter'"
                                )
                      
                            // Emergency Contact Phone #
                            .control-group
                              label.control-label Emergency Contact Phone #*
                              .controls
                                input.focused(
                                  type='text',
                                  ng-model='chaperone.emergencyInfo.phone',
                                  required,
                                  placeholder="(123) 123-1235",
                                  ui-jq='popover',
                                  ui-options="{trigger: 'focus', placement: 'right'}",
                                  data-title="(123) 123-1235",
                                  data-content="Generally it's a good idea to choose a cell phone number."
                                )
                      
                            // Registrant Medical number
                            .control-group
                              label.control-label Registrant Medical number*
                              .controls
                                input.focused(
                                  type='text',
                                  ng-model='chaperone.emergencyInfo.medicalNum',
                                  required,
                                  placeholder="1234 1234 123 123",
                                  ui-jq='popover',
                                  ui-options="{trigger: 'focus', placement: 'right'}",
                                  data-title="1234 123 123"
                                  data-content="This should be your 10-digit CareCard number. If you are unable to provide this information immediately, please ensure that you have the medical number on hand at the conference."
                                )

                            // Allergies
                            .control-group
                              label.control-label Allergies
                              .controls
                                input.focused(
                                  type='text',
                                  ng-model='chaperone.emergencyInfo.allergies',
                                  placeholder='Lime, Coconut',
                                  ui-jq='popover',
                                  ui-options="{trigger: 'focus', placement: 'right'}",
                                  ng-list=",",
                                  data-content="Please enter a list of allergies, if you have multiple allergies please comma seperate them."
                                )

                            // Illnesses
                            .control-group
                              label.control-label Medical Conditions
                              .controls
                                input.focused(
                                  type='text',
                                  name='chaperone.emergencyInfo.illnesses',
                                  ng-model='chaperone.emergencyInfo.illnesses',
                                  ui-jq='popover',
                                  ui-options="{trigger: 'focus', placement: 'right'}",
                                  ng-list=",",
                                  placeholder='Seizures, Asthma',
                                  data-title="Seizures, Asthma"
                                  data-content="Does the registrant have any medical conditions we should know about? If yes please list. E.g. seizures, asthma"
                                )

                          // End Emergency Info

        // Youth Registration Fields.
        .row-fluid
          .form-horizontal.well#youngAdult
            h1 Young Adult Attendees
            .container-fluid
              .row-fluid
                .span6
                  p You have <strong>{{ youngAdultList.length }}</strong> young adults attending.
                  strong Age Range:
                  | 18-24 yrs
                  p There are no special restrictions on the number of young adults per group.
            hr
            .container-fluid(id="youngAdultAccordion")
              .accordion-group
                .accordion-heading
                  a.accordion-toggle(href="javascript:void(0);", ng-click="addYoungAdult()")
                    i.icon-plus
                    | Add a Young Adult
              .accordion-group(ng-repeat="youngAdult in youngAdultList")
                .accordion-heading
                  .row-fluid
                    .pull-left
                      a.accordion-toggle(href="javascript:void(0);", accordion="youngAdult{{youngAdult.number}}", accordion-group="#youngAdultAccordion") {{ youngAdult.name }}
                    .pull-right
                      a.accordion-toggle(href="javascript:void(0);", ng-click="removeYoungAdult(youngAdult)") 
                        i.icon-trash
                        | Remove {{ youngAdult.name }}
                .accordion-body.collapse(id="youngAdult{{ youngAdult.number }}")
                  .accordion-inner
                    .row-fluid
                      // Begin Basic Info
                      .span6
                        fieldset(id="youngAdult{{youngAdult.number}}")
                          legend Basic Information
                          p We need some basic information for each young adult attending.
              
                          // Name Field
                          .control-group
                            label.control-label Name*
                            .controls
                              input.focused(
                                type='text',
                                ng-model='youngAdult.name',
                                required,
                                placeholder='John/Jane Doe',
                              )

                          // Gender Field
                          .control-group
                            label.control-label Gender*
                            .controls
                              select(required, ng-model="youngAdult.gender", name="youngAdult.gender")
                                option Male
                                option Female
                                option Other
              
                          // Birth Date Field
                          .control-group
                            label.control-label Birth Date*
                            .controls
                              input.focused(
                                required,
                                ng-model="youngAdult.birthDate",
                                  placeholder='23/04/1990',
                                  ui-jq='popover',
                                  ui-options="{trigger: 'focus', placement: 'right'}",
                                  data-title="dd/mm/yyyy",
                                  data-content="Please note young adults are 18-24 yrs old.<br> <b> Born before: </b> March 19, 1995 <br> <b>Born After:</b> March 18, 1988",
                                  type='text'

                             )

                           // Phone Field
                          .control-group
                            label.control-label Phone #*
                            .controls
                              input.focused(
                                type='text',
                                ng-model='youngAdult.phone',
                                ui-jq='popover',
                                ui-options="{trigger: 'focus', placement: 'right'}",
                                placeholder='(123) 123-1234',
                                required,
                                data-title="(123) 123-1234",
                                data-content="If you're coming to the conference you might want to consider using your cell number, that way we can get in touch with you during the event."
                              )


                          // Email Field
                          .control-group
                            label.control-label Email*
                            .controls
                              input.focused(
                                type='email',
                                ng-model='youngAdult.email',
                                placeholder='johndoe@mail.com',
                                required
                              )
                        // End Basic Info
                      // Begin Emergency Info
                      .span6        
                        fieldset
                          legend Emergency Information
                          p In the event of an unfortunate happenstance, we'll use this information to help us provide the best assistance possible.
              
                          // Emergency Contact Name
                          .control-group
                            label.control-label Emergency Contact name*
                            .controls
                              input.focused(
                                type='text',
                                required,
                                ng-model='youngAdult.emergencyInfo.name',
                                placeholder="Bobby Doe",
                                ui-jq='popover',
                                ui-options="{trigger: 'focus', placement: 'right'}",
                                data-title="Who can we contact if you get hurt?"
                                data-content="Please list someone we can contact in the event the registrant is hurt. This person will be able to advise us on medical conditions, doctors or vital information."
                              )
                                
                    
                          // Emergency Contact Relation      
                          .control-group
                            label.control-label Emergency Contact Relation
                            .controls
                              input.focused(
                                type='text',
                                name='youngAdult.emergencyInfo.relation',
                                ng-model='youngAdult.emergencyInfo.relation',
                                placeholder="Father",
                                ui-jq='popover',
                                ui-options="{trigger: 'focus', placement: 'right'}",
                                data-title="Their relationship to the delegate",
                                data-content="For example, 'Mother' or 'Babysitter'"
                              )

                          // Emergency Contact Phone #
                          .control-group
                            label.control-label Emergency Contact Phone #*
                            .controls
                              input.focused(
                                type='text',
                                ng-model='youngAdult.emergencyInfo.phone',
                                required,
                                placeholder="(123) 123-1235",
                                ui-jq='popover',
                                ui-options="{trigger: 'focus', placement: 'right'}",
                                data-title="(123) 123-1235",
                                data-content="Generally it's a good idea to choose a cell phone number."
                              )
                                

                          // Registrant Medical number
                          .control-group
                            label.control-label Registrant Medical Number*
                            .controls
                              input.focused(
                                type='text',
                                ng-model='youngAdult.emergencyInfo.medicalNum',
                                required,
                                placeholder="1234 1234 123 123",
                                ui-jq='popover',
                                ui-options="{trigger: 'focus', placement: 'right'}",
                                data-title="1234 123 123"
                                data-content="This should be your 10-digit CareCard number. If you are unable to provide this information immediately, please ensure that you have the medical number on hand at the conference."
                              )

                          // Allergies
                          .control-group
                            label.control-label Allergies
                            .controls
                              input.focused(
                                type='text',
                                ng-model='youngAdult.emergencyInfo.allergies',
                                placeholder='Lime, Coconut',
                                ui-jq='popover',
                                ui-options="{trigger: 'focus', placement: 'right'}",
                                ng-list=",",
                                data-title="Lime, Coconut"
                                data-content="Please enter a list of allergies, if you have multiple allergies please seperate them with a comma."
                              )

                          // Illnesses
                          .control-group
                            label.control-label Medical Conditions
                            .controls
                              input.focused(
                                type='text',
                                ng-model='youngAdult.emergencyInfo.illnesses',
                                ui-jq='popover',
                                ui-options="{trigger: 'focus', placement: 'right'}",
                                ng-list=",",
                                placeholder='Seizures, Asthma',
                                data-title="Seizures, Asthma"
                                data-content="Does the registrant have any medical conditions we should know about? If yes please list. E.g. seizures, asthma."
                              )
                        // End Emergency Information
            
        // Confirmation Fields
        .row-fluid
          .form-horizontal.well#confirmation
            h1 Registration Confirmation
            p Here you can verify some of the details regarding your registration. Please take care in looking over this portion of the document.
              .container-fluid
                .row-fluid
                  .span3
                    h6 Group Information
                    ul.nav.nav-list
                      li Youth: {{ youthList.length }}
                      li Chaperones: {{ chaperoneList.length }}
                      li Young Adults: {{ youngAdultList.length }}
                  .span3
                    ul
                  .span3
                    h6 Unofficial Invoice
                    ul.nav.nav-list
                      li Paid Tickets: {{ paidTickets() }} @ $175
                      li Free Tickets: {{ freeTickets() }} @ $0
                      li Total: ${{ totalCost() }}
                    .control-group
                      label.control-label Payment Method
                      .controls
                        select(
                          ng-model="costs.paymentMethod",
                          ui-jq="popover",
                          ui-options="{trigger: 'focus', placement: 'right'}",
                          data-title="Choose your Payment Method",
                          data-content="We encourage payment by Cheque as Credit Card transactions will cost a fee, please call Della Preston at 250-388-5522 to inquire."
                        )
                          option(value="Cheque") Cheque
                          option(value="Money Order") Money Order
                          option(value="Please Invoice") Please Invoice
                          option(value="Credit Card") Credit Card
            .alert.alert-warning(ui-toggle='regForm.$invalid')
              p Looks like you don't have all the required fields <b>(Denoted by a star, "*")</b>, could you please go back and make sure none of these are empty?
              p If you're absolutely certain that you have everything filled out, you can still hit register, but you may want to call us (250-388-5522) and confirm your registration.
            .alert.alert-error(ui-toggle='!enoughChaperones()')
              p You need 1 chaperone for every 5 youth, you currently are not fulfilling that requirement... So unfortunately we can't let you register yet! Could you please get more chaperones?
            .alert.alert-success(ui-toggle='!regForm.$invalid && enoughChaperones()') Looks like you are good to go. Take a final look over everything and then click Register!
            input.btn-large.btn-primary(
              type='submit',
              value='Register',
              ng-model='submitButton',
              ng-disabled="isClean() || submitted || !enoughChaperones()"
            )
            .alert.alert-success(ui-toggle="submitted")
              p Your registration has been submited! Thanks!
            .alert.alert-error(ui-toggle="submitError")
              p There was a failure in our validation of your form. Please contact us if you're sure everything is alright!
              p In the current state. <b>Nothing</b> was submitted. 